.app {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0;
}

.filter {
  padding: 0 0 20px 0;
}

.filterInput {
  width: 250px;
  padding: 5px 10px;
}

.clearButton {
  padding: 5px;
  margin-left: 10px;
}

.showMoreContainer {
  padding: 10px 0 0 15px;
}
